<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  >
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet"	th:href="@{/js/treeview/jquery.treeview.css}" />
		<link rel="stylesheet"	th:href="@{/js/treeview/screen.css}" />

		<script th:src="@{/js/jquery-1.8.3.js}"></script>
		<script	th:src="@{/js/treeview/jquery.cookie.js}" ></script>
		<script	th:src="@{/js/treeview/jquery.treeview.min.js}"	></script>
		<script	th:src="@{/js/treeview/jquery.treeview.async.js}"></script>
	</head>
	<body>
		<!--<input type="hidden" id="value" th:value="${dept_name}"/>-->
		<div style="overflow:scroll; width:270px; height:550px;">
			<ul id="black" class="filetree" ></ul>
		</div>
	</body>
	<script type="text/javascript">
		$("#black").treeview({
			url : "/xsite/article/lookMenu/list"
		})
	</script>
</html>

