<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet"	th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="blogitem">
        <input type="hidden" id="hiddenContent" th:value="${article.content}"/>
      <article >
        <h2 id="title" class="title"><a href="/" th:text="${article.title}" ></a></h2>
          <!--width:730px;height:670px;-->
          <ul id="content" style="word-wrap:break-word;padding-right:20px"  class="text">

        </ul>
        <div class="textfoot">
            <a href="/">说点什么</a>
        </div>
      </article>
</div>
    <script th:src="@{/js/jquery-1.8.3.js}"></script>
    <script th:src="@{/js/silder.js}"></script><!--获取当前页导航 高亮显示标题-->
<script type="text/javascript">
    var content = $("#hiddenContent").val();
    $("#content").html(content);
</script>
</body>
</html>